<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en"
      th:replace="~{common/layout :: layout(~{::title}, ~{::section}, ~{})}">
<head>
    <title>Embabel Platform</title>
</head>
<section>
    <h2 class="platform-title">Embabel Platform</h2>

    <h3 class="platform-subtitle">Embabel Platform</h3>
    <ul class="platform-links">
        <li class="platform-link-item"><a href="/api/v1/platform-info" target="_blank" rel="noopener noreferrer">Agents</a>
        </li>
        <li class="platform-link-item"><a href="/api/v1/platform-info/tool-groups" target="_blank"
                                              rel="noopener noreferrer">Tool groups</a></li>
        <li class="platform-link-item"><a href="/api/v1/platform-info/models" target="_blank"
                                              rel="noopener noreferrer">Models</a></li>
        <li class="platform-link-item"><a href="http://127.0.0.1:9411/zipkin/" target="_blank"
                                              rel="noopener noreferrer">Traces with Zipkin</a></li>
    </ul>
</section>
</html>
